<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>group edit </title>
        <meta name ="description" content = "group edit">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="css/style_main.css" rel="stylesheet">
        <link href="css/style_login.css" rel="stylesheet">
        <link rel="icon" type="image/png" href = "images/favicon.png">

    </head> 
    <body>
        <div class = "wrapper flex">
            <div class = "half_disp">
                <label for="title">グループ名</label><br>
                <input type="text" id="group_name" name="name" required minlength="4" maxlength="8" size="10">
                updateボタン<br>
                <p>詳細</p>
                <textarea id = "group_detail" placeholder="詳細を入力" rows="5" cols="50"></textarea>
                updateボタン
            </div>
            <div class = "half_disp">
                参加中
                <br>
                太郎、二郎、三郎
                <br>
                招待中
                <br>
                花子
                <br>
                招待

            </div>
        </div>
    </body>


</html>


