// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@charset "UTF-8";

html {
    font-size :100%
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

#header{
    /* background-color:#b4c1d1; */
    font-size: 2rem;
    font-family:'Philosopher','serif';
    text-transform: uppercase;
    font-weight: normal;
}

h2{
    display:inline-block;
    width:500px
}

#header{
    height: 10vh;
}

#select_range{
    margin-left: 25%;
}

.wrapper{
    height:90vh;
}

.flex{
    display:flex;
}

#group_list {
    height: 100%;
    width:25%;
}

#schedule{
    width:75%;
}


#schedule_detail{
    height:30%;
    display: flex;
}

#schedule_overview{
    width:80%;
}

.border{
    border: solid;
}

#attendance{
    width:20%;
}


#schedule{
    position: relative;
}

#schedule_table_window{
    height:70%;
    width:100%;
    overflow-x: scroll;
    overflow-y: scroll;
}
/* #schedule_table th{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
} */

#schedule_table{
    width:1500px;
    height:1000px;
    display: flex;
}

#time_disp{
    position: sticky;
    left:0px;
    background-color: sandybrown;
    width: 3%;
}

.oneday_schedule{
    width: 14%;
    // border: solid;
}

.day_disp{
    position:sticky;
    top:0px;
    height: 4%;
    background-color: red;
}

.one_hour{
    height: 40px;
    border:1px solid;
    box-sizing: border-box;
}

.one_hour_disp{
    height: 40px;
    border: 1px;
    box-sizing: border-box;
    position:relative;
    top:-1%;
}

#create_schedule{
    position: absolute;
    bottom:35%;
    right:5%;
    background-color: #0bd;
    border-radius: 50%;
    color:#fff;
    width:100px;
    height:100px;
    font-size: 1rem;
    text-align: center;
}

.subtitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:8em;
}

.text_align_center{
    text-align: center;
}

.half_disp{
    height: 100%;
    width: 50%;
}

.flex{
    display: flex;
}

.red{
    color:red;
}